body {
  background-color: rgb(83, 97, 104);
}

.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom right,#2c4053, rgb(38, 83, 121)) !important;
}

.nav-link {
  color: white;
}

.active{
    color:rgb(41, 177, 52) !important;
}

.card {
  height: 90%;

}

